* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #343434;
  color: #fff;
  transition: all .1.5s ease-in-out;
  animation: fade-right 1.5s;
}

@keyframes fade-right {
  0%{
      opacity: 0;
      transform: translate3d(0.1) scale(0.9);
  }
  100%{
      opacity: 1;
      transform: translateZ(0px) scale(1);
  }
}

:root {
  --yellow-color: rgb(255, 206, 11);
  --gold-color: rgb(255, 157, 0);
  --aqua-color: rgb(3, 181, 252);
}

p {
  font-size: 24px;
}

a {
  text-decoration: underline;
  color: var(--aqua-color);
}

/* ----------------------  home ---------------------- */

#home {
  width: 100%;
  height: 100vh;
  /* background-image: url("/images/background_2.png"); */
  background-size: cover;
  background-position: center;
}

#home video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#filter-container {
  padding: 20px 20px;
  font-size: 25px;
}

input {
  margin-bottom: 15px;
}
#open-source {
  margin-bottom: 25px;
}
label {
  color: rgb(170, 187, 170);
}

.container {
  padding: 10px 10%;
}

/* nav menu */
nav {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 8px;
}

nav ul li {
  float: left;
  list-style: none;
  margin-right: 50px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  position:relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: var(--aqua-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.75s;
}

nav ul li a:hover::after{
  width: 100%;
}

#home-text {
  display: inline-block;
  margin-top: 15%;
  font-size: 30px;
}

#home-text h1 {
  letter-spacing: 1px;
  margin-top: 45px;
  font-size: 60px;
  color: rgb(31, 31, 31);
}

#home-text h2 {
  margin-top: 20px;
}

#home-text h1 span {
  background: linear-gradient(to right, var(--aqua-color), rgb(0, 204, 255));
  -webkit-background-clip: text;
  color: transparent;
}

#social-icons {
  display: flex;
  text-align: center;
  margin-top: 60px;
}

#social-icons a {
  text-decoration: none;
  color: var(--aqua-color);
  font-size: 50px;
  margin-right: 7px;
  margin-left: 7px;
  transition: transform 0.25s;
  color: #06b6d4;
}

#social-icons a:hover {
  transform: translateY(-8px);
}

#splash-text {
  margin-top: 40px;
  color: rgb(0, 0, 0);
  font-size: 32px;
  width: 50%;
}



/* ---------------------- about ---------------------- */

#about {
  padding: 50px 0px;
  margin-bottom: 100px;

  /* width: 100%;
  height: 100vh;
  padding: 80px 0; */
  color: #aba;
}
#about p {
  font-size: 24px;
}

.subtitle {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

#video-container {
  margin: auto;
  width: 50%;
  border: 3px solid var(--yellow-color);
  margin-bottom: 50px;
  display: block;
}

/* tab-titles (skills/experience/hobbies) */
#tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-title {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-title::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--yellow-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-title.active-tab::after {
  width: 100%;
}

/* tab-content - the content below a tab */
.tab-content {
  display: none;
  line-height: 1.3;
}
.tab-content.active-tab {
  display: block;
}
.tab-content ul li {
  font-size: 22px;
  list-style: none;
  margin: 10px 0;
  margin-bottom: 20px;
}
.tab-content ul li h1 {
  margin-bottom: 5px;
  color: var(--gold-color);
  font-size: 22px;
  font-weight: 500;
}
.tab-content ul li h2 {
  margin-bottom: 12px;
  font-size: 22px;
  list-style: none;
  font-weight: 400;
}

/* ----------------------- projects ----------------------- */ 
#projects {
  padding: 50px 0px;
  margin-bottom: 100px;
}
#project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 50px;
}
#projects-header {
  color: #aba;
}

/* project - the square div for every project */
.project {
  aspect-ratio: 1.0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: block;
  
  animation: move 0.5s;
}

@keyframes move {
  from {bottom: -50px;}
  to {bottom: 0px;}
}
.project:hover {
  cursor: pointer;
}
.project:hover img {
  transform: scale(1.1);
}
.project:hover .project-tag {
  transform: scale(1.0);
}

.project img {
  width: 100%;
  border-radius: 10px;
  display: cover;
  object-fit: fit;
  transition: transform 0.5s;
}

/* project-tag - any tag that shows up in front of the project when hovering over it */
.project-tag {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: scale(2.5);
  z-index: 6;
}

/* project-info-player - the layer that pops up when hovering over the image */
.project-info-layer {
  z-index: 5;
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(10, 255, 247, 0.8), rgba(255, 170, 0, 0.9));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 16px;
  transition: height 0.5s;
}
.project-info-layer p {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  text-shadow: black 2px 2px;
}
.project-info-layer h1 {
  color: rgb(255, 255, 255);
  text-shadow: black 2px 2px;
  margin-bottom: 20px;
}
.project-info-layer h2 {
  color: rgb(255, 255, 255);
  text-shadow: black 2px 2px;
  margin-top: 25px;
}
.project:hover .project-info-layer {
  height: 100%;
}

/* ---------contact----------- */
#contact p {
  margin-top: 20px;
  line-height: 1.3;
  margin-bottom: 100px;
}
#contact span {
  color: var(--gold-color);
}

/* -------------credit----------- */
#credit p {
  font-size: 18px;
  text-align: center;
}

#credit a {
  text-decoration: none;
}



/* ----------------- css for smaller screens ------------------ */
nav .fas {
  display: none;
}
@MEDIA only screen and (max-width: 900px) {
  p {
    font-size: 20px;
  }

  #home {
    background-image: url("/images/phone_background.png");
  }
  #splash-text {
    margin-top: 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 80%;
  }
  #home-text h1 {
    font-size: 30px;
  }
  #social-icons {
    margin-top: 20px;
  }
  #social-icons a {
    font-size: 36px;
  }

  nav {
    visibility: hidden;
  }
  
  nav ul li {
    visibility: hidden;
  }
  
  nav ul li a {
    visibility: hidden;
  }
 

  .subtitle {
    font-size: 40px;
  }
  .about-col-1, .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-title {
    font-size: 3px;
    margin-right: 13px;
  }
  #about {
    margin-bottom: 0px;
  }
  #about p {
    font-size: 16px;
  }

  .tab-content ul li {
    font-size: 16px;
  }
  .tab-content ul li h1 {
    font-size: 22px;
  }
  .tab-content ul li h2 {
    margin-bottom: 8px;
    font-size: 16px;
  }

  #video-container {
    width: 100%;
    border: 2px solid var(--yellow-color);
  }


  #projects {
    padding: 20px 0;
    margin-bottom: 50px;
  }

  #projects-header {
    font-size: 20px;
  }

  #project-list {
    grid-template-columns: repeat(1, 1fr); 
  }
  .project-info-layer {
    border-radius: 10px;
    padding: 0 10px;
    font-size: 12px;
  }
  .project-info-layer p {
    font-size: 16px;
  }
  .project-info-layer h1 {
    margin-bottom: 20px;
  }
  .project-info-layer h2 {
    margin-top: 20px;
  }




  #credit p {
    font-size: 16px;
  }
}



